@import 'tailwindcss';

@theme {
    --color-primary: #f4f2ee;
    --color-secondary: #c00fee;
    --radius-card: 0.3rem;
    --shadow-card: 0 8px 30px rgb(0, 0, 0, 0.07);
}

html,
body,
#root {
    display: flex;
    height: 100%;
    flex-grow: 1;
    width: 100%;
}
